.label {
    margin: 5px 0 3px 10px;
    font-size: 0.8rem;
    color: #555555;
}

.formfeedback {
    margin-left: 10px;
    font-size: 0.5rem;
}

.inputnama {
    border-radius: 10;
    height: 20px;
    font-size: 0.85rem;
}

.right-section {
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 0;
    width: 100%;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

@keyframes lds-heart {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
    }

    5% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    39% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    45% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    60% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@-webkit-keyframes lds-heart {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
    }

    5% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    39% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    45% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    60% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
    }

    100% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

.lds-heart {
    position: relative;
    -webkit-animation: lds-heart 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    animation: lds-heart 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart div {
    top: 72px;
    left: 60px;
    position: absolute;
    width: 80px;
    height: 80px;
    background: #FC5185;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lds-heart div:after,
.lds-heart div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    background: #FC5185;
}

.lds-heart div:before {
    left: -52px;
    border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
    top: -52px;
    border-radius: 50% 50% 0 0;
}

.lds-heart {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}