.label {
    margin: 5px 0 3px 10px;
    font-size: 0.8rem;
    color: #555555;
}

.formfeedback {
    margin-left: 10px;
    font-size: 0.65rem;
}

.inputnama {
    border-radius: 10;
    height: 20px;
    font-size: 0.85rem;
}